// index main

main {
  height: 100%;
}
.introduction {
  display: flex; // allow for flex-basis of images
  flex-direction: column;
  align-items: center; // center the image in the viewport
  justify-content: space-between;
  .imgContainer {
    display: block;
    margin: 10px auto;
    height: 275px;
    width: 100%; // allow for vertical scroll but image takes up 100% width of wrapper
    overflow-y: hidden;
    border-radius: 25px;
  }
  .landingPhoto { 
    object-fit: cover;
    object-position: top center;
  }

  .textContainer {
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 0;

    .instructions {
      padding: 20px 0;
    }
    .buttons {
      flex-basis: 100%;
      text-align: center;
      padding: 20px 20px 20px 0;
      margin-top: 30px;
      align-self: center;
    }
  }
}


// about main specifics
.about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  .imgContainer {
    margin: 10px auto;
    flex-basis: 100%;
    min-width: 100%;
    max-height: 350px;
    border-radius: 25px;
    overflow-y: hidden;
  }
  .aboutPhoto {
    width: 100%;
  }
  .textContainer {
    h2 {
      text-transform: uppercase;
      text-align: left;
      padding: 10px 0;
      font-weight: $light;
    }
    .siteTitle {
      text-transform: uppercase;
      font-weight: $bold;
      
    }
    p {
      padding: 10px 0;
      a {
        color: $purple;
        display: inline;
        &:hover,
        &:focus {
          color: $blue;
        }
      }
    }
    .logoContainer {
      margin: 25px auto;
      display: flex;
      justify-content: center;
      img {
        width: 30%;
      }
    }
  }
}


// gameplay main
.posterDisplay {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  .posterReveal {
    width: 50%;
    max-width: 170px;
    background: $purple;
    border: 10px solid $seafoam;
    p {
      color: $orange;
      font-family: $monster;
      text-align: center;
      font-size: 10rem;
      padding: 35px 0;
    }
  }
  .iconContainer {
    padding: 0 15px;
    i {
      font-size: 3rem;
    }
  }
}

.gamePlay {
  .questionScore {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
  }
  form {
    padding: 10px 0;
    legend {
      font-size: 1.7rem;
    }
    .buttonsContainer {
      display: flex;
      justify-content: space-between;
      .submitButtons {
        background: transparent;
      }
    }
  }
}

// styling radio buttons for gameplay
.gamePlay ul {
  list-style: none;
  margin: 15px 0;
  li {
    padding: 5px 0;
    input[type='radio']{
      display: none;
      &:checked + * {
        color: $orange;
      }
    }
    input[type="radio"] + *::before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      width: 1.5rem;
      height: 1.5rem;
      margin-right: 0.3rem;
      border-radius: 50%;
      border-style: solid;
      border-width: 0.1rem;
      border-color: $purple;
    }
    input[type="radio"]:checked + *::before {
      background: radial-gradient($orange 0%, $orange 40%, transparent 50%, transparent);
      border-color: $orange;
    }
  }
}