//Colors
$yellow: "#F4D06F";
$orange: "#FF8811";
$seafoam: "#9DD9D2";
$white: "#FFF8F0";
$purple: "#392F5A";
$blue: "#0F22B4";

//Fonts
$monster: "ccmonstermash, sans-serif";
$halogen: "halogen, sans-serif";

//Weights
$light: 300;
$med4: 400;
$med5: 500;
$bold: 700;